CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# User Added
build-*
PEP-GS-Flight-Software/Deployments/PEP_GS_Main/libs/MCP9600/docs/latex
PEP-GS-Flight-Software/Deployments/PEP_GS_Main/libs/MCP9600/docs/html
PEP-GS-Flight-Software/Deployments/PEP_GS_Main/libs/MCP9600/build/
